<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>KBL Data Visualization Project <%= title %></title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<style>
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #testChart {
        width: 100%;
    }
</style>
<body>
<form method="POST" action="/parser">
    <select name="pickedYear" class="form-control">
        <option value="1516">2015-2016</option>
        <option value="1617">2016-2017</option>
        <option value="1718">2017-2018</option>
    </select>
    <select name="pickedItem" class="form-control">
        <option value="usg">USG</option>
        <option value="efg">EFG%</option>
        <option value="TS">TS%</option>
        <option value="TOR">TOR</option>
        <option value="Ast">AST</option>
        <option value="PPG">PPG</option>
        <option value="RPG">RPG</option>
        <option value="STL">STL</option>
        <option value="Offensive">Defensive</option>
        <option value="Defensive">Offensive</option>
    </select>
    <button type="submit"></button>
</form>
<canvas id="testChart"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    let ctx = document.querySelector('#testChart').getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels:<%- JSON.stringify(teamNameData) %>,
            datasets: [{
                label: '<%= item %>',
                data: [<%= teamStatData %>],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            title: {
                display: true,
                text: "<%= item %>" + " of " + "<%= year %>",
                fontSize: 18
            }
        }
    }); // end chart obj

</script>
</body>
</html>