<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<style>
</style>
<body>
<div class="box">
    <div class="header">
        <h1>한국프로농구 데이터시각화 프로젝트 v.0.23</h1>
    </div>
    <div class="nav">
        <button class="btn btn-default" onclick="location.href = './'">팀별</button>
        <button class="btn btn-default active"  onclick="location.href = './player'">선수별</button>
    </div>
    <div class="section">
        <h2>선수별 목록</h2>
        <div class="article menu">
            <!--<form method="GET" action="/">-->
            <!--<select name="pickedYear" class="form-control">-->
            <!--<option value="2015-2016">2015-2016 시즌</option>-->
            <!--<option value="2016-2017">2016-2017 시즌</option>-->
            <!--<option value="2017-2018">2017-2018 시즌</option>-->
            <!--</select>-->
            <!--<select name="pickedItem" class="form-control">-->
            <!--<option value="usg">USG</option>-->
            <!--<option value="efg">EFG%</option>-->
            <!--<optmion value="TS">TS%</optmion>-->
            <!--<option value="TOR">TOR</option>-->
            <!--<option value="Ast">AST</option>-->
            <!--<option value="PPG">PPG</option>-->
            <!--<option value="RPG">RPG</option>-->
            <!--<option value="STL">STL</option>-->
            <!--<option value="Offensive">Defensive</option>-->
            <!--<option value="Defensive">Offensive</option>-->
            <!--</select>-->
            <!--<button type="submit" class="btn btn-default">그래프 만들기</button>-->
            <!--</form>-->
        </div>
        <div class="article content">
            <div class="dis">
                <h3><%= teamIndex %> </h3>
                <!--<h5><%= JSON.stringify(teamIndexDescription) %></h5>-->
                <!--<ul>-->
                <% var teams = Object.values(teamIndexDescription) %>
                <% for(var i=0; i<teams.length; i++) {%>
                <h5 class="teamName"><%= Object.keys(teamIndexDescription)[i] %></h5>
                <% for(var j=0; j<teams[i].length; j++) {%>
                <button><%= teams[i][j] %></button>
                <% } %>
                <% } %>
                <!--</ul>-->
            </div>
            <canvas id="radar-chart" width="800" height="600"></canvas>
        </div>
    </div>
    <div class="footer">
        <div class="info">
            <h5>시곡중학교 3학년 하욱진 개인프로젝트</h5>
            <h5>한국디지털미디어고등학교 실적물 제출을 위한 버전입니다.</h5>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    new Chart(document.getElementById("radar-chart"), {
        type: 'radar',
        data: {
            labels: ["G(게임수)", "공격:2P(2점슛개수) 수비:OFF(공격리바운드개수)", "공격:3P(3점슛개수) 수비:DEF(수비리바운드개수)", "공격:FT(자유투개수) 수비:STL(스틸개수)", "공격:Ast(어시스트) 수비:BS(블락개수)"],
            datasets: [
                {
                    label: "공격",
                    fill: true,
                    backgroundColor: "rgba(179,181,198,0.2)",
                    borderColor: "rgba(179,181,198,1)",
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "rgba(179,181,198,1)",
                    data: [<%= %>]
                }, {
                    label: "수비",
                    fill: true,
                    backgroundColor: "rgba(255,99,132,0.2)",
                    borderColor: "rgba(255,99,132,1)",
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "rgba(255,99,132,1)",
                    pointBorderColor: "#fff",
                    data: [25.48,54.16,7.61,8.06,4.45]
                }
            ]
        },
        options: {
            title: {
                display: true,
                text: '선수 스텟'
            }
        }
    });
</script>
</body>
</html>