<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<style>
</style>
<body>
<div class="box">
    <div class="header">
        <h1>한국프로농구 데이터시각화 프로젝트 v.0.23</h1>
    </div>
    <div class="nav">
        <button class="btn btn-default" onclick="location.href = './'">팀별</button>
        <button class="btn btn-default active"  onclick="location.href = './player'">선수별</button>
    </div>
    <div class="section">
        <h2>선수별 목록</h2>
        <div class="article menu">
            <form method="GET" action="/player">
                <div role="tabpanel"> <!-- 1패널 -->
                    <ul class="nav nav-tabs" role="tablist"> <!-- 1패널 연도 탭 제목 --> <!-- j = 연도 -->
                        <% for(var j=0; j<Object.keys(tiD).length ; j++) { %>
                        <li role="presentation" class=""><a href="#<%= Object.keys(tiD)[j] %>" aria-controls="year2015" role="tab" data-toggle="tab"><%= Object.keys(tiD)[j] %></a></li>
                        <% } %>
                    </ul>
                    <div class="tab-content"> <!-- 1패널 연도 탭 내용 --> <!-- i = [0,1,2] -->
                        <% for(var i=0; i<Object.keys(tiD).length ; i++) { %>
                        <div role="tabpanel" class="tab-pane" id="<%= Object.keys(tiD)[i] %>"> <!-- 2패널 -->
                            <ul class="nav nav-tabs teamtab" role="tablist"> <!-- 2패널 팀 탭 제목 -->
                                <% var y = Object.keys(tiD)[i] %> <!-- y = ["2015-2016", "2016-2017", "2017-2018"] -->
                                <% for(var j=0; j<Object.keys(tiD[y]).length ; j++) { %> <!-- j = [0,1,2,3,4,5,6,7,8,9] -->
                                <li value="<%= Object.keys(tiD[y])[j] %>" name="teamName" role="presentation" class=""><a href="#<%= Object.keys(tiD[y])[j] %>" aria-controls="year2015" role="tab" data-toggle="tab"><%= Object.keys(tiD[y])[j] %></a></li>
                                <% } %>
                            </ul>
                            <div class="tab-content teamcontent"> <!-- 2패널 팀 탭 내용 -->
                                <% for(var j=0; j<Object.keys(tiD[y]).length ; j++) { %>
                                <div role="tabpanel" class="tab-pane" id="<%= Object.keys(tiD[y])[j] %>">
                                    <% var t = Object.keys(tiD[y])[j] %>
                                    <% for(var k=0; k<(tiD[y][t]).length; k++) { %>
                                    <button value="<%=y%>,<%=Object.keys(tiD[y])[j]%>,<%=tiD[y][t][k]["선수"]%>,<%=k%>" name="playerName" type="submit" class="btn btn-default play"><%= tiD[y][t][k]["선수"] %> </button>
                                    <% } %>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </form>
        </div>
        <div class="article content">
            <div class="dis dis_player">
                <h3><%=dataIndex[2]%></h3>
                <h5><%=dataIndex[1]%>, <%=dataIndex[0]%> 시즌</h5>

                <canvas id="radar-chart" width="800" height="600"></canvas>

            </div>
            <canvas id="radar-chart" width="800" height="600"></canvas>
        </div>
    </div>
    <div class="footer">
        <div class="info">
            <h5>시곡중학교 3학년 하욱진 개인프로젝트</h5>
            <h5>한국디지털미디어고등학교 실적물 제출을 위한 버전입니다.</h5>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    new Chart(document.getElementById("radar-chart"), {
        type: 'radar',
        data: {
            labels: ["공격:PPG(경기당평균득점) 수비:RPG(경기당리바운드개수)", "공격:2P(2점슛개수) 수비:DEF(수비리바운드개수)", "공격:3P(3점슛개수) 수비:OFF(공격리바운드개수)", "공격:FT(자유투개수) 수비:BS(블락개수)", "공격:Ast(어시스트) 수비:STL(스틸개수)"],
            datasets: [
                {
                    label: "공격",
                    fill: true,
                    backgroundColor: "rgba(255,0,0,0.2)",
                    borderColor: "rgba(255,0,0,1)",
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "rgba(255,0,0,1)",
                    data: [<%= AtdataArray %>]
                },
                {
                    label: "수비",
                    fill: true,
                    backgroundColor: "rgba(0,128,0,0.2)",
                    borderColor: "rgba(0,128,0,1)",
                    pointBorderColor: "#fff",
                    pointBackgroundColor: "rgba(0,128,0,1)",
                    data: [<%= DfdataArray %>]
                }
            ]
        },
        options: {
            title: {
                display: true
            },
            legend: {
                display: true
            }
        }
    });
</script>
</body>
</html>